body {
    h1 {
        color:white; /* ここで指定した色に変更 */
  }
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
    font-color :white   ;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choices-button {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.choices-image {
    width: 80px; /* 画像の幅を設定 */
    height: auto;
    display: block;
}

.choices-text {
    position: absolute;
    top: 10px; /* 画像の上の位置を調整 */
    left: 50%;
    transform: translateX(-50%);

    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black; /* テキストの視認性を高める */
}

.container {
    margin-top: 50px;
}

.choices button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}